<ion-header>
  <ion-toolbar>
    <ion-title>update-rule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="name" placeholder="Enter name"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="level" placeholder="Enter level"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="status" placeholder="Enter start status"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="from" placeholder="Enter from"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="to" placeholder="Enter to"></ion-textarea>
    </ion-item>

    <ion-button class="ion-margin" (click)="updateElement()">Update</ion-button>
  </ion-card>
</ion-content>
