<ion-header>
  <ion-toolbar>
    <ion-title>get-range</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Retrieve rules by range</ion-card-title>
    </ion-card-header>

<!--    <ion-card-content>-->
<!--      <ion-item>-->
<!--        <ion-textarea [(ngModel)]="fromValue" placeholder="From value:"></ion-textarea>-->
<!--      </ion-item>-->
<!--      <ion-item>-->
<!--        <ion-textarea [(ngModel)]="toValue" placeholder="To value:"></ion-textarea>-->
<!--      </ion-item>-->
<!--      <ion-button shape="round" (click)="getRulesInRange()">Search rules in range</ion-button>-->
<!--    </ion-card-content>-->

  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
